services:
  whisper-api:
    build: .
    container_name: whisper-api
    deploy:
      resources:
        reservations:
          devices:
            - capabilities:
                - gpu
              count: all
              driver: nvidia
    ports:
      - "5148:5000"
    networks:
      - infra-net
    restart: unless-stopped

networks:
  infra-net:
    external: true